*,*::after, *::before{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.title{
    font-size:2.5rem;
    text-align:center
}
.video{
    width:50%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}
.video::after{
    content:"";
    display:block;
    width:100%;
    padding-bottom: 56.25%;
}
.esdacode_video{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}